options {
	directory "/zones";
	version "this page intentionally left blank";
	recursion no;

	notify explicit;
	also-notify { {{BIND_SECONDARY_SERVERS}}; };
	allow-transfer { {{BIND_SECONDARY_SERVERS}}; 127.0.0.0/8; };

	zone-statistics no;
	transfer-source 127.0.0.1;
	query-source 127.0.0.1;

	allow-update { none; };
	allow-notify { 127.0.0.1; };

	request-ixfr no;
	ixfr-from-differences yes;

	max-journal-size 3m;

	max-refresh-time 30;
	max-retry-time 30;
	transfers-in 100;
	transfers-per-ns 100;

	catalog-zones { zone "{{PDNS_CATALOG_ZONE}}" default-masters { 127.0.0.2 ; }; };
};

logging {
	channel default_syslog { syslog local3; severity warning; };
	category default { default_syslog; };
};


key "rndc-key" { algorithm hmac-sha256; secret "{{BIND_RNDC_KEY}}"; };
controls { inet * port 953 allow { any; } keys { "rndc-key"; }; };


zone "{{PDNS_CATALOG_ZONE}}" {
	max-refresh-time 10;
	max-retry-time 10;
	type slave;
	file "/zones/{{PDNS_CATALOG_ZONE}}";
	masters { 127.0.0.2 ; };
};
