primary=yes
also-notify=127.0.0.1
only-notify=127.0.0.1

security-poll-suffix=

loglevel={{PDNS_LOG_LEVEL}}
logging-facility={{PDNS_LOG_FACILITY}}

local-address=127.0.0.2:53,0.0.0.0:5353

default-soa-edit=INCEPTION-EPOCH
default-soa-edit-signed=INCEPTION-EPOCH

dnsupdate=yes
allow-dnsupdate-from=127.0.0.0/8,192.168.0.0/16

cache-ttl=5
xfr-cycle-interval=3

allow-axfr-ips=127.0.0.0/8

webserver=yes
webserver-address=127.0.0.1
webserver-password={{PDNS_API_KEY}}
webserver-allow-from=127.0.0.0/8
api=yes
api-key={{PDNS_API_KEY}}

